<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>SPK - {{.Order.CompanyName}}</title>
    <style>
      html {
        font-size: 12px;
      }
      body,
      pre {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .page {
        /* page-break-after: always; Ensure each div is treated as a new page */
        width: 150mm;
        height: 210mm;
        margin: 0 auto;
        box-sizing: border-box;
        /*border: 1px solid #ccc;*/
      }
    </style>
  </head>
  <body>
    <div class="page p-8">
      <div class="grid grid-cols-2 gap-2 mb-2">
        <div>
          <div class="font-bold">{{.Company.Name}}</div>
          <div class="">{{.Company.Address}}</div>
          <div class="">{{displayPhoneNumber .Company.PhoneNumber}}</div>
        </div>
        {{ if .Company }}
        {{ if ne .Company.PhotoID "" }}
        <div class="flex items-center justify-end">
          <img src="{{displayImagePhotoId .Company.PhotoID}}" alt="Logo" height="80" width="80">
        </div>
        {{ end }}
        {{ end }}
      </div>
      <hr class="border-2 mb-4 border-gray-300" />
      <div class="mb-2">
        <div class="">
          <div class="text-xl font-bold">Surat Perintah Kerja</div>
          <div class="">{{ displaySpkNumber .Order.Number .CreateDt }}</div>
        </div>
      </div>
      <div class="mb-2 grid grid-cols-2 gap-4">
        <div>
          <table class="">
            <tr>
              <td class="w-20">Order</td>
              <td class="w-4">:</td>
              <td>{{.Order.Name}}</td>
            </tr>
            <tr>
              <td class="w-20">Pelanggan</td>
              <td class="w-4">:</td>
              {{ if .Order.Customer }}
              <td>{{ .Order.Customer.Name}}</td>
              {{ else }}
              <td>-</td>
              {{ end }}
            </tr>
            <tr>
              <td class="w-20">No HP</td>
              <td class="w-4">:</td>
              {{ if .Order.Customer }}
              <td>{{displayPhoneNumber .Order.Customer.PhoneNumber}}</td>
              {{ else }}
              <td>-</td>
              {{ end }}
            </tr>
          </table>
        </div>
        <div>
          <table class="">
            <tr>
              <td class="w-20">Tanggal</td>
              <td class="w-4">:</td>
              <td>{{ displayDatetime .CreateDt}}</td>
            </tr>
            <tr>
              <td class="w-20">CS</td>
              <td class="w-4">:</td>
              <td>{{.Order.CreateName}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="mb-4">
        <table class="w-full table-auto border-y-2 border-gray-300">
          <thead>
          <tr class="text-left border-b-1 border-gray-300">
            <th class="py-2 px-1">Nama</th>
            <th class="py-2 px-1">Qty</th>
          </tr>
          </thead>
          <tbody>
          <tr class="border-gray-300">
            <td class="py-1 px-1">
              <div>{{.Name}}</div>
              <div class="text-sm">{{.PaperName}} | {{ displayLembar .PageCount }} | {{ displayDuplex .IsDuplex }}</div>
            </td>
            <td class="py-1 px-1 text-right">{{ displayNumber .Qty}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
